@import '../styles/variables.scss';

.card-content .card-content-text {
  visibility: hidden;

}

.card:hover {
  background-color: $material-fill-primary;
  opacity: $material-fill-opacity-primary;
  transition: all 0.50s linear;

  img {
    transform: scale(1);
    opacity: 0.75;
  }

  .card-content-text {
    visibility: visible;
  }
}


.card {
  background-color: $material-fill-secondary;
  opacity: $material-fill-opacity-secondary;
  text-align: center;
  display: block;

  img {
    transform: scale(0.75);
  }
}
