@import '../../styles/variables.scss';

.img {
  width: 40%;
  height: auto;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .img{
    width: 20%;
    height: auto;
  }
}
  