@import '../../styles/variables.scss';

.page {
  background-color: $background-primary;
}
.large-screen {
  display: block;
}
.small-screen {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', Sans-Serif;
  color: $text-primary;
}

h5,
p,
li {
  font-family: 'Cabin', Sans-Serif;
  color: $text-primary;
}

h1 {
  font-size: $xl-font-size;
  line-height: $xl-line-height;
}

h1 span {
  text-decoration: underline;
  text-decoration-color: $accent-primary;
}

h2 {
  font-size: $l-font-size;
  line-height: $l-line-height;
  padding-top: $l-line-height;
  padding-bottom: 0.2*$l-line-height;
}

h3 {
  font-size: $m-font-size;
  line-height: $m-line-height;
}

h4 {
  font-size: $s-font-size;
  line-height: $s-line-height;
}

h5 {
  font-size: $s-font-size;
  line-height: $s-line-height;
  color: $text-secondary;
}

p,
li {
  font-size: $body-font-size;
  line-height: $body-line-height;
}

/* Smartphones (portrait and landscape)  */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .large-screen {
    display: none;
  }
  .small-screen {
    display: block;
  }

  h1 {
    font-size: $mobile-xl-font-size;
    line-height: $mobile-xl-line-height;
  }

  h2 {
    font-size: $mobile-l-font-size;
    line-height: $mobile-l-line-height;
  }

  h3 {
    font-size: $mobile-m-font-size;
    line-height: $mobile-m-line-height;
  }

  h4 {
    font-size: $mobile-s-font-size;
    line-height: $mobile-s-line-height;
  }

  h5 {
    font-size: $mobile-s-font-size;
    line-height: $mobile-s-line-height;
  }

  p {
    font-size: $mobile-body-font-size;
    line-height: $mobile-body-line-height;
  }
}


/* iPads (portrait and landscape)  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}
